:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
}
body {
    background: #FFFFFF;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif; 
    letter-spacing: 0.03em;
} 
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
}
.link {
    text-decoration: none;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
/*Логотип */
.logo {
    color: #2196F3;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
}
.logo .accent{
    color: #000000;
}
/* Навигация сайта */
.site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacs-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacs-nav .link:hover,
.contacs-nav .link:focus { 
    color: #2196F3;
}
.site-nav .link.current {
    color: #2196F3;
} 
/* Герой */
.hero {
    background-color: #2F303A;
    text-align: center;
}
.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 30px;
}
/* Секции */
/* Секции главной страницы */
.section-features .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
}
.section-features .text{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.section-job .title,
.section-team .title{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}
.section-team { 
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-team .name{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 30px;
    margin-bottom: 10px;
}
.section-team .text{
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0px;
    margin-bottom: 30px;
}
/* Секции страницы Порфолио */
.section-portfolio .title{
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-bottom: 4px;
}
.section-portfolio .text{
    font-size: 16px;
    line-height: 1.87;
    margin-top: 0px;
    margin-bottom: 20px;
}
/* Кнопки */
.button {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 0px;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
}
.button:hover,
.button:focus {
    background-color:  #188CE8;
}
.button-portfolio {
    cursor: pointer;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border: 0px;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
}
.button-portfolio:hover,
.button-portfolio:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}
/* Подвал */
.site-footer {
    background-color: #2F303A;
}
.logo-footer{
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
}
.logo-footer .accent{
    color: #FFFFFF;
}
.address .text {
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.address .link {
    color: #FFFFFF99;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.address .link:hover,
.address .link:focus { 
    color: #2196F3;
}